<ul class="header-nav">
    <li class="dropdown">
        {{if ENV == 'product'}}
        <font color="orange">（{{$appName}} - 正式环境）</font>
        {{elseif ENV == 'test'}}
        <font color="dodgerblue">（{{$appName}} - 测试环境）</font>
        {{else}}
        <font color="dodgerblue">（{{$appName}} - 开发环境）</font>
        {{/if}}
        <ul class="dropdown-menu" style="top: 100%;">
            {{foreach key=env item=hosts from=$appHosts}}
            <li class="disabled" style="text-align: left; padding-left: 10px; background: #cccccc; color: #666666;">{{if $env == 'product'}}正式环境{{elseif $env == 'test'}}测试环境{{else}}开发环境{{/if}}</li>
            {{foreach key=appId item=host from=$hosts}}
            <li><a href="{{$host}}/admin" target="_blank">{{if $appId == 0}}安卓版{{elseif $appId == 1}}IOS版{{elseif $appId == 2}}亚马逊版{{else}}未知{{/if}}</a></li>
            {{/foreach}}
            {{/foreach}}
        </ul>
    </li>
    <li class="dropdown">
        <img src="{{$IMG_URL}}/icons/user.png"><span>{{$session.realname}}</span>
        <ul class="dropdown-menu" style="top: 100%;">
            <li><a href="/account/info">我的资料</a></li>
            <li><a href="/account/password">修改密码</a></li>
        </ul>
    </li>
    <li onclick="logout()">
        <img src="{{$IMG_URL}}/icons/on-off.png"><span>退出</span>
    </li>
</ul>