<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[{{if ENV == 'product'}}生产{{elseif ENV == 'test'}}测试{{else}}开发{{/if}}]网赚Slots-{{$appName}}-运营管理后台</title>
    <link rel="stylesheet" href="{{$CSS_URL}}/common.css?v={{$VER}}">
    <link rel="stylesheet" href="{{$CSS_URL}}/admin.css?v={{$VER}}">
    <link rel="stylesheet" href="{{$CSS_URL}}/font-awesome.min.css?v={{$VER}}">
    <link rel="stylesheet" href="{{$JS_URL}}/datetimepicker/datetimepicker.min.css">
    <script type="text/javascript" src="{{$JS_URL}}/jquery.1.7.2.min.js"></script>
    <script type="text/javascript" src="{{$JS_URL}}/datetimepicker/datetimepicker.min.js"></script>
    <script type="text/javascript">
        var JS_URL = '{{$JS_URL}}';
        var CSS_URL = '{{$CSS_URL}}';
        var IMG_URL = '{{$IMG_URL}}';
        var BASE_URL = '{{$BASE_URL}}';
        var RES_VER = '{{$VER}}';
        var CURRENT_URI = '';
        var BI_TOKEN = '{{$REQUEST.bi_token}}';
    </script>
</head>
<body style="{{if $REQUEST.bi_token}}background: unset;{{/if}}">
{{if !$REQUEST.bi_token}}
<!--header-->
<div id="header">
    {{include file="./head.html"}}
</div>
<!--nav-->
<div id="nav" class="nav">
    {{include file="./nav.html"}}
</div>
<!--body-->
{{/if}}
<div id="body" style="{{if $REQUEST.bi_token}}padding: 2px; margin: 0;{{/if}}"></div>
<!--footer-->
<div id="footer"></div>
<script type="text/javascript" src="{{$JS_URL}}/common.js?v={{$VER}}"></script>
<script type="text/javascript" src="{{$JS_URL}}/admin.js?v={{$VER}}"></script>
</body>
</html>