<div style="color: red; margin-bottom: 5px">
    当轮剩余次数:{{$times|default:8}}
</div>
<div style=" margin-bottom: 5px">
    <a href="/index/merge?action=reset">重置</a>

    {{if $times}}
    <a href="/index/merge?action=next&testId={{$testId}}">下一次</a>
    {{/if}}

</div>

<div style="display: flex;flex-wrap: wrap">

    {{foreach item=elements from=$steps}}
    <table border="1" style="width: 220px;margin-right: 10px; margin-bottom: 10px">
        {{for $i=1 to 4 }}
        <tr>
            {{for $j=1 to 5 }}
            <td style="width: 44px;height: 30px">{{$elements[$j][$i]|default:' '}}</td>
            {{/for}}
        </tr>
        {{/for}}

    </table>
    {{/foreach}}

</div>