<div class="tool-box">
    <a class="btn btn-primary btn-middle" data-toggle="dialog" data-target="#form-create-item">创建权限</a>
    <form class="search-box">
        <label>分组</label>
        <select name="groupId" data-value="{{$REQUEST.groupId}}">
            <option value="">All</option>
            {{foreach item=group from=$groups}}
            <option value="{{$group.id}}">{{$group.name}}</option>
            {{/foreach}}
        </select>
        <input name="keywords" size="10" value="{{$REQUEST.keywords}}" placeholder="标识或名称">
        <a class="btn btn-primary" type="submit">搜 索</a>
        <a class="btn btn-clear">清 空</a>
    </form>
</div>
<form id="form-create-item" action="/perm/createItem" method="post" class="hide">
    <div class="form-control">
        <label style="width: 35px;">标 识</label><input name="id" type="text" required>
    </div>
    <div class="form-control">
        <label style="width: 35px;">名 称</label><input name="name" type="text" required>
    </div>
    <div class="form-control">
        <label style="width: 35px;">分 组</label>
        <select name="groupId">
            {{foreach item=group from=$groups}}
            <option value="{{$group.id}}">{{$group.name}}</option>
            {{/foreach}}
        </select>
    </div>
</form>
<table data-editable="true"
       data-save-url="/perm/updateField?model=permItem"
       data-delete-url="/perm/deleteItem">
    <thead>
    <tr>
        <th width="150">标识</th>
        <th width="150" data-key="name">名称</th>
        <th width="150">所属分组</th>
        <th width="150">操作</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{foreach item=item from=$list}}
    <tr data-id="{{$item.id}}">
        <td>{{$item.id}}</td>
        <td>{{$item.name}}</td>
        <td>{{$groups[$item.groupId].name|default:'无'}}</td>
        <td><a class="btn btn-delete">删 除</a></td>
        <td></td>
    </tr>
    {{/foreach}}
    </tbody>
</table>
{{$pager->display()}}