<div class="tool-box">
    <a class="btn btn-primary btn-middle" data-toggle="dialog" data-target="#form-create-role">创建角色</a>
    <form class="search-box">
        <input name="keywords" size="10" value="{{$REQUEST.keywords}}" placeholder="Code或名称">
        <a class="btn btn-primary" type="submit">搜 索</a>
        <a class="btn btn-clear">清 空</a>
    </form>
</div>
<form id="form-create-role" action="/perm/createRole" method="post" class="hide">
    <div class="form-control">
        <label style="width: 35px;">名 称</label><input name="name" type="text" required>
    </div>
</form>
<table data-editable="true"
       data-save-url="/perm/updateField?model=permRole"
       data-delete-url="/perm/deleteRole">
    <thead>
    <tr>
        <th width="150" data-key="name">名称</th>
        <th width="200">操作</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{foreach item=role from=$roles}}
    <tr data-id="{{$role.id}}" data-name="{{$role.name}}">
        <td>{{$role.name}}</td>
        <td>
            <div class="btn-group">
                <a class="btn btn-grant">授 权</a>
                <a class="btn btn-bind">分 配</a>
                <a class="btn btn-delete">删 除</a>
            </div>
        </td>
        <td></td>
    </tr>
    {{/foreach}}
    </tbody>
</table>
{{$pager->display()}}
<script type="text/javascript">
    (function () {
        $('.btn-grant').click(function () {
            var roleId = $(this).parents('tr').attr('data-id');
            var roleName = $(this).parents('tr').attr('data-name');
            ajaxRequest('/perm/getGroups', null, function (groups) {
                ajaxRequest('/perm/getRoleItems', {roleId: roleId}, function (roleItems) {
                    createGrantDialog(groups, roleId, roleName, roleItems);
                });
            });
        });

        $('.btn-bind').click(function () {
            var roleId = $(this).parents('tr').attr('data-id');
            var roleName = $(this).parents('tr').attr('data-name');
            ajaxRequest('/account/getUserList', null, function (users) {
                ajaxRequest('/perm/getBindUsers', {roleId: roleId}, function (bindUsers) {
                    createBindDialog(roleId, roleName, users, bindUsers);
                });
            });
        });

        function createBindDialog(roleId, roleName, users, bindUsers) {
            var content = '';
            content += '<div style="width: 600px; min-height: 300px;">';
            content += '<table class="perm-user-list">';
            content += '<tr><th width="50"></th><th width="150">姓名</th><th width="150">部门</th><th width="150">岗位</th><th></th></tr>';
            for (var i = 0; i < users.length; i++) {
                var id = users[i]['id'];
                content += '<tr>';
                content += '<td><input type="checkbox" value="' + id + '"></td>';
                content += '<td>' + users[i]['realname'] + '</td>';
                content += '<td>' + users[i]['department'] + '</td>';
                content += '<td>' + users[i]['post'] + '</td>';
                content += '<td></td>';
                content += '</tr>';
            }
            content += '</table>';
            content += '</div>';
            var $dialog = showDialog('角色分配 > ' + roleName, content);
            for (var j = 0; j < bindUsers.length; j++) {
                $dialog.find('input[value=' + bindUsers[j] + ']').prop('checked', true);
            }
            $dialog.find('input').bind('change', function () {
                var aid = $(this).val();
                var checked = $(this).prop('checked');
                updateBind(roleId, aid, checked ? 'bind' : 'unbind');
            });
            $dialog.find('tr').click(function () {
                $(this).find('input').click();
            });
        }

        function createGrantDialog(groups, roleId, roleName, roleItems) {
            var content = '';
            content += '<div style="width: 800px; min-height: 300px;">';
            for (var i = 0; i < groups.length; i++) {
                content += '<fieldset data-group-id="' + groups[i]['id'] + '" style="margin-bottom: 20px;">';
                content += '<legend><a href="javascript:;"><span style="display: inline-block; width: 10px; text-align: center;">+</span>' + groups[i]['name'] + '</a></legend>';
                content += '<ul class="perm-item-list hide"></ul>';
                content += '</fieldset>';
            }
            content += '</div>';
            var $dialog = showDialog('角色授权 > ' + roleName, content);
            $dialog.find('legend').find('a').click(function () {
                var $fieldset = $(this).parents('fieldset');
                showGroupItems($fieldset, roleId, roleItems);
            });
        }

        function showGroupItems($fieldset, roleId, roleItems) {
            if ($fieldset.attr('data-inited') !== 'true') {
                $fieldset.attr('data-inited', 'true');
                var groupId = $fieldset.attr('data-group-id');
                ajaxRequest('/perm/getGroupItems', {groupId: groupId}, function (items) {
                    var li = '', id;
                    for (var i = 0; i < items.length; i++) {
                        id = items[i]['id'];
                        li += '<li style="float: left; margin: 5px;">';
                        li += '<input type="checkbox" id="perm-item-' + id + '" value="' + id + '">';
                        li += '<label for="perm-item-' + id + '">' + items[i]['name'] + '</label>';
                        li += '</li>';
                    }
                    $fieldset.find('ul').html(li);
                    if (items.length) {
                        var div = '<div style="margin: 5px;">';
                        div += '<a href="javascript:;" class="check-all">全选</a>';
                        div += '/';
                        div += '<a href="javascript:;" class="check-none">全不选</a>';
                        div += '</div>';
                    }
                    $fieldset.find('ul').after(div);
                    for (var j = 0; j < roleItems.length; j++) {
                        $fieldset.find('input').each(function () {
                            if ($(this).val() === roleItems[j]) {
                                $(this).prop('checked', true);
                            }
                        });
                    }
                    $fieldset.find('input').click(function () {
                        var itemId = $(this).val();
                        var checked = $(this).prop('checked');
                        updateGrant(roleId, [itemId], checked ? 'add' : 'remove');
                    });
                    $fieldset.find('.check-all,.check-none').click(function () {
                        var itemIds = [];
                        var action = $(this).hasClass('check-all') ? 'add' : 'remove';
                        $fieldset.find('input').each(function (i, input) {
                            var checked = $(input).prop('checked');
                            $(input).prop('checked', action === 'add');
                            if ((action === 'add' && !checked) || (action === 'remove' && checked)) {
                                itemIds.push($(input).val());
                            }
                        });
                        updateGrant(roleId, itemIds, action);
                    });
                });
            }
            $fieldset.find('ul').toggle();
            $fieldset.find('ul').next().toggle();
        }

        function updateGrant(roleId, itemIds, action) {
            if (!itemIds.length) return;
            var uri = action === 'add' ? '/perm/grant' : '/perm/removeGrant';
            ajaxRequest(uri, {roleId: roleId, itemIds: itemIds.join(',')});
        }

        function updateBind(roleId, aid, action) {
            if (!aid) return;
            var uri = action === 'bind' ? '/perm/bindRole' : '/perm/unbindRole';
            ajaxRequest(uri, {roleId: roleId, aid: aid});
        }
    })();
</script>