<div class="tool-box">
    <div class="search-box">
        <form>
            <label>操作类别</label>
            <select name="category" data-value="{{$REQUEST.category}}">
                <option value="">All</option>
                {{foreach key=category item=name from=$categories}}
                <option value="{{$category}}">{{$name}}</option>
                {{/foreach}}
            </select>
            <label>操作对象</label>
            <select name="target">
                <option value="">All</option>
                {{foreach item=target from=$targets}}
                <option data-group="{{$target.category}}" value="{{$target.target}}" style="display: none;">{{$target.target}}</option>
                {{/foreach}}
            </select>
            <a class="btn btn-primary" type="submit">搜 索</a>
            <a class="btn btn-clear">清 空</a>
        </form>
    </div>
</div>
<table>
    <thead>
    <tr align="center">
        <th>操作类别</th>
        <th>操作对象</th>
        <th>操作行为</th>
        <th>操作内容描述</th>
        <th>操作人</th>
        <th>操作时间</th>
        <th>IP地址</th>
    </tr>
    </thead>
    {{foreach item=row from=$list}}
    <tr>
        <td>{{$categories[$row.category]}}</td>
        <td>{{$row.target}}</td>
        <td>{{$row.action}}</td>
        <td><a class="btn-link" data-toggle="dialog" data-title="操作内容" data-target="/system/operationLogContent?id={{$row.id}}">查看</a></td>
        <td>{{$row.user}}</td>
        <td>{{$row.time|default:'-'}}</td>
        <td>{{$row.ip}}</td>
    </tr>
    {{/foreach}}
</table>
{{$pager->display()}}
<script>
    $('select[name=category]').change(function () {
        refreshOption($(this).val());
    });
    function refreshOption(category, target) {
        var $target = $('select[name=target]');
        $target.val(target || '');
        $target.find('option').each(function () {
            if ($(this).val() === '') {
                $(this).show();
            } else if ($(this).attr('data-group') === category) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    }
    refreshOption('{{$REQUEST.category}}', '{{$REQUEST.target}}');
</script>