<div class="tool-box">
    <div class="search-box">
        <form>
            <input name="uid" maxlength="10" size="10" value="{{$REQUEST.uid}}" placeholder="UID">
            <label>机台</label>
            <select name="machineId" data-value="{{$REQUEST.machineId}}">
                <option value="">All</option>
                {{foreach item=machine from=$machines}}
                <option value="{{$machine.machineId}}">{{$machine.name}}</option>
                {{/foreach}}
            </select>
            <label class="is-free-spin">是否免费</label>
            <select class="is-free-spin" name="isFreeSpin" data-value="{{$REQUEST.isFreeSpin}}">
                <option value="">ALL</option>
                <option value="0">N</option>
                <option value="1">Y</option>
            </select>
            {{if $REQUEST.machineId && $features}}
            <label class="in-feature">所处Feature</label>
            <select class="in-feature" name="inFeature" data-value="{{$REQUEST.inFeature}}">
                <option value="">ALL</option>
                {{foreach key=featureId  item=featureName from=$features}}
                <option value="{{$featureId}}">{{$featureName}}</option>
                {{/foreach}}
            </select>
            <label class="trigger-feature">触发Feature</label>
            <select class="trigger-feature" name="triggerFeature" data-value="{{$REQUEST.triggerFeature}}">
                <option value="">ALL</option>
                {{foreach key=featureId  item=featureName from=$features}}
                <option value="{{$featureId}}">{{$featureName}}</option>
                {{/foreach}}
            </select>
            {{/if}}
            <div class="datetime-picker">
                <label>日期</label>
                <input name="startDate" class="datetime" data-date-format="Y-m-d" placeholder="请选择" value="{{$REQUEST.startDate}}" />
                <label>至</label>
                <input name="endDate" class="datetime" data-date-format="Y-m-d" placeholder="请选择" value="{{$REQUEST.endDate}}" />
            </div>
            <label>历史表</label>
            <select name="table" data-value="{{$REQUEST.table}}">
                <option value="">Default</option>
                {{foreach item=table from=$tables}}
                <option value="{{substr($table,10)}}">{{substr($table,10)}}</option>
                {{/foreach}}
            </select>
            <a class="btn btn-primary" type="submit">搜 索</a>
            <a class="btn btn-clear">清 空</a>
        </form>
    </div>
</div>
<table>
    <thead>
    <tr>
        <th>用户ID</th>
        <th>机台</th>
        <th>中奖结果</th>
        <th>新手保护</th>
        <th>干预类型</th>
        <th>下注次序</th>
        <th>下注额</th>
        <th>下注比</th>
        <th>赢取金币</th>
        <th>赢取倍率</th>
        <th>总赢取金币</th>
        <th>剩余金币</th>
        <th>是否<br>FreeSpin</th>
        <th>是否<br>ReFreeSpin</th>
        <th>第几次<br>FreeSpin</th>
        <th>当前<br>Feature</th>
        <th>中奖<br>Feature</th>
        <th>是否结算</th>
        <th>下注时间</th>
    </tr>
    </thead>
    {{foreach item=log from=$list}}
    <tr>
        <td>{{$log.uid}}</td>
        <td>{{if $machines[$log.machineId]}}{{$machines[$log.machineId].name}}{{else}}{{$log.machineId}}{{/if}}</td>
        <td><a class="btn-link btn-detail" data-id={{$log.id}}>查看</a></td>
        <td>{{if $log.isNoviceProtect}}Y{{else}}N{{/if}}</td>
        <td>{{$log.interveneType|default:'-'}}{{if $log.interveneNo}}({{$log.interveneNo}}){{/if}}</td>
        <td>{{$log.betSeq}}</td>
        <td>{{if $log.totalBet < 100000}}{{$log.totalBet}}{{elseif $log.totalBet < 1000000}}{{$log.totalBet/1000}}K{{elseif $log.totalBet < 1000000000}}{{$log.totalBet/1000000}}M{{else}}{{$log.totalBet/1000000000}}B{{/if}}</td>
        <td>{{number_format($log.betRatio)}}</td>
        <td title="{{number_format($log.coinsAward)}}">{{if $log.coinsAward < 100000}}{{$log.coinsAward}}{{elseif $log.coinsAward < 1000000}}{{$log.coinsAward/1000}}K{{elseif $log.coinsAward < 1000000000}}{{round($log.coinsAward/1000000,2)}}M{{else}}{{round($log.coinsAward/1000000000,2)}}B{{/if}}</td>
        <td>{{if $log.cost == 0}}0{{else}}{{round($log.coinsAward/$log.cost, 2)}}{{/if}}</td>
        <td title="{{number_format($log.totalWin)}}">{{if $log.totalWin < 100000}}{{$log.totalWin}}{{elseif $log.totalWin < 1000000}}{{$log.totalWin/1000}}K{{elseif $log.totalWin < 1000000000}}{{round($log.totalWin/1000000,2)}}M{{else}}{{round($log.totalWin/1000000000,2)}}B{{/if}}</td>
        <td>{{number_format($log.balance)}}</td>
        <td>{{if $log.isFreeSpin}}Y{{else}}N{{/if}}</td>
        <td>{{if $log.isReFreeSpin}}Y{{else}}N{{/if}}</td>
        <td>{{if $log.isFreeSpin}}{{$log.spinTimes}}{{else}}0{{/if}}</td>
        <td>
            {{if $log.feature}}
            {{if isset($log.featureSteps[$log.feature])}}
            <span><a class="btn-link btn-detail-feature" data-bet-id={{$log.id}} data-feature-id={{$log.feature}}>{{$featureGames[$log.machineId][$log.feature]['featureName']}}</a></span>
            {{else}}
            <span>{{$featureGames[$log.machineId][$log.feature]['featureName']}}</span>
            {{/if}}
            {{else}}-{{/if}}
        </td>
        <td>
            {{if $log.features}}
            {{foreach key=index item=featureId from=$log.features}}
            {{if isset($featureSteps[$featureId])}}
            <span><a class="btn-link btn-detail-feature" data-bet-id={{$log.id}} data-feature-id={{$featureId}}>{{$featureGames[$log.machineId][$featureId]['featureName']}}</a></span>
            {{elseif $featureGames[$log.machineId][$featureId]['featureName']}}
            <span>{{$featureGames[$log.machineId][$featureId]['featureName']}}</span>
            {{else}}
            <span>{{$featureId}}</span>
            {{/if}}
            {{if $index < count($log.features) - 1}}<br>{{/if}}
            {{/foreach}}
            {{else}}
            <span>-</span>
            {{/if}}
        </td>
        <td>{{if $log.settled}}Y{{else}}N{{/if}}</td>
        <td>{{$log.time}}</td>
    </tr>
    {{/foreach}}
</table>
{{$pager->display()}}
<script>
    (function (){
        var triggerFeature = '{{$REQUEST.triggerFeature}}';
        var isFreeSpin = '{{$REQUEST.isFreeSpin}}';
        var inFeature = '{{$REQUEST.inFeature}}';
        var defMachineId = '{{$REQUEST.machineId}}';

        $('.btn-detail').click(function (){
            var id = $(this).attr('data-id');
            showBetDetail(id);
        });

        $('select[name=machineId]').change(function () {
            $('select[name=isFreeSpin]').val('');
            $('select[name=inFeature]').val('');
            $('select[name=triggerFeature]').val('');
            let machineId = $(this).val();
            if (!machineId) {
                $('.in-feature').hide();
                $('.trigger-feature').hide();
                return;
            }

            ajaxRequest('/game/getFeatures', {machineId: machineId}, function ($result) {
                $('.in-feature').remove();
                $('.trigger-feature').remove();
                let features = $result.features;
                if (!Object.keys(features).length) return;

                let $optionsSHtml = '<option value="">All</option>';
                $.each(features, function (featureId, featureName) {
                    $optionsSHtml += '<option value="' + featureId + '">' + featureName + '</option>';
                });

                let inFeatureHtml = '<label class="in-feature">所处Feature</label>' +
                    '<select class="in-feature" name="inFeature">' + $optionsSHtml + '</select>'

                let triggerFeatureHtml = '<label class="trigger-feature">触发Feature</label>' +
                    '<select class="trigger-feature" name="triggerFeature">' + $optionsSHtml + '</select>';

                $('.is-free-spin').show();
                $('select[name=isFreeSpin]').after(inFeatureHtml, triggerFeatureHtml);

                if (machineId != defMachineId) return;

                $('select[name=isFreeSpin]').val(isFreeSpin);
                $('select[name=inFeature]').val(inFeature);
                $('select[name=triggerFeature]').val(triggerFeature);
            })
        });

        $('.btn-detail-feature').click(function () {
            var betId = $(this).attr('data-bet-id');
            var featureId = $(this).attr('data-feature-id');
            showFeatureStepsDetail(betId, featureId);
        });
        function showFeatureStepsDetail(betId, featureId) {
            $dialog = showDialog("Feature步骤结果", '', {
                url: '/game/featureSteps?betId=' + betId + '&featureId=' + featureId + '&table={{$REQUEST.table}}'
            });
        }

        function showBetDetail(id, action = '') {
            $dialog = showDialog('中奖记录', '', {
                url: '/game/betResult?id=' + id + '&table={{$REQUEST.table}}&action=' + action
            });
            $dialog.on('click', '.prev, .next', function (){
                var id = $(this).attr('data-id');
                var action = $(this).attr('data-action');
                removeDialog($dialog);
                showBetDetail(id, action);
            });
        }
    })();
</script>