<table width="120">
    <thead>
    <tr>
        <th width="100">序号</th>
    {{for $col=1 to $colNum}}
        <th width="100">轴 {{$col}}</th>
    {{/for}}
    </tr>
    </thead>
    <tbody>
    {{foreach key=index item=items from=$sampleItems}}
    <tr>
        <td>{{$index + 1}}</td>
        {{for $col=1 to $colNum}}
        <td>
            {{if $items.$col}}
            {{if $machineItems[$items[$col]].iconDescription == 'Stack'}}
            Stack
            {{else}}
            <img src="{{$IMG_URL}}/icons/machine-items/M{{$machineId}}/{{$machineItems[$items[$col]].iconImage}}.png" height="50" alt="{{$machineItems[$items[$col]].iconDescription}}">
            {{/if}}
            {{/if}}
        </td>
        {{/for}}
    </tr>
    {{/foreach}}
    </tbody>
</table>