@font-face {
    font-family: 'Material Icons Extended';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/GMPIcons.woff2') format('woff2');
}

.material-icons {
    font-family: "Material Icons Extended", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "liga";
    font-feature-settings: "liga";
    speak: none;
    text-decoration: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

body {
    background-color: #eceff1;
}

#header {
    height: 50px;
    background-color: #2E5E79;
    border-bottom: 1px solid #404854;
    position: fixed;
    z-index: 98;
    width: 100%;
    top: 0;
    left: 0;
}

#footer {
    height: 0;
    background-color: #222222;
}

.login-box {
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 40%;
    padding: 50px;
    border: 5px solid rgb(3, 155, 229);
    border-radius: 10px;
}

.login-box label {
    background: none;
    color: #555555;
    font-size: 20px;
    padding: 5px 0;
}

.login-box input {
    padding: 5px;
    color: #555555;
    font-size: 20px;
    border: 1px solid rgb(3, 189, 150);
    height: 36px;
}

.btn-login {
    width: 100%;
    padding: 0;
    border: none;
    font-size: 24px;
    line-height: 36px;
    height: 38px;
}

.nav {
    background: #262f3d;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    height: 100%;
    width: 180px;
    display: flex;
    flex-direction: column;
}

.nav * {
    vertical-align: middle;
}

.nav-header {
    padding: 10px;
    cursor: default;
    line-height: 30px;
    text-align: center;
    border-bottom: 1px solid #404854;
    height: 50px;
}

.nav-header a {
    color: #ffffff;
    font-size: 22px;
}

.nav-footer {
    color: rgb(225, 225, 225);
    text-align: right;
    border-top: 1px solid #404854;
    padding: 16px 24px;
    cursor: pointer;
}

.nav-body {
    color: rgb(225, 225, 225);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px 0;
    flex: 1;
}

.nav-body::-webkit-scrollbar {
    background-color: #262f3d;
    width: 8px;
}

.nav-body::-webkit-scrollbar-thumb {
    background-color: #8a9bb2;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 2px solid #262f3d;
}

.nav img, .header-nav img {
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 2px;
    width: 15px;
    height: 15px;
}

.header-nav img {
    margin-right: 5px;
}

.nav-menu-1 {
    font-size: 16px;
}

.nav-menu-2 {
    background: #19212b;
    font-size: 14px;
    cursor: default;
    display: none;
}

.nav-menu-1 span {
    display: inline-block;
    line-height: 20px;
    height: 20px;
}

.nav-menu-1 .material-icons {
    font-size: 18px;
    margin-right: 10px;
}

.nav-menu-1 > li {
    cursor: pointer;
    line-height: 36px;
    font-weight: bold;
    margin: 4px 0;
}

.nav-menu-1 > li > div {
    padding-left: 20px;
    padding-right: 20px;
}

.nav-menu-1 .triangle {
    float: right;
}

.nav-menu-1 .triangle span {
    margin: 0;
}

.nav-menu-open .triangle {
    transform: rotate(90deg);
    transition: all 0.3s ease-in-out;
}

.nav-menu-2 li {
    cursor: pointer;
    padding-left: 20px;
    margin: 4px 0;
}

.nav-menu-active, .nav-menu-2 li:hover {
    color: rgb(3, 189, 150) !important;
}

.header-nav {
    float: right;
}

.header-nav > li {
    float: left;
    padding: 10px 12px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: rgb(225, 225, 225);
    cursor: pointer;
}

.header-nav > li:hover {
    background: #1F4562;
    color: #ffffff;
}

#body {
    padding: 10px;
    position: relative;
    margin-left: 180px;
    margin-top: 50px;
    font-size: 14px;
    color: #333;
}

table[data-chart-enable="all"] th, table[data-chart-enable="col"] th {
    cursor: pointer;
}

table[data-chart-enable="all"] td:first-child, table[data-chart-enable="row"] td:first-child {
    cursor: pointer;
}

.perm-list li {
    float: left;
    background: #f0f0f0;
    border: 1px solid #cccccc;
    border-radius: 13px;
    line-height: 20px;
    padding: 3px 5px;
    margin: 0 5px;
    min-width: 50px;
    text-align: center;
    cursor: default;
}

.perm-item-del {
    float: right;
    display: none;
    cursor: pointer;
}

.perm-list li:hover .perm-item-del {
    display: block;
}

.editor {
    background: #fefefe;
    border: 1px dashed #666;
    text-align: center;
    width: 100%;
    padding: 0;
}

.select-label {
    position: absolute;
    background: white;
    line-height: 26px;
    cursor: default;
    pointer-events: none;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 4px 0 0 4px;
    left: 0;
    top: 0;
}

.select-label-title {
    color: grey;
    font-size: 14px;
    padding: 0 5px;
    background: #ddd;
    border-radius: 3px 0 0 3px;
}

.select-label-text {
    padding-left: 5px;
}

i.material-icons {
    font-size: 16px;
}

.abt-step-header {
    overflow: hidden;
    outline: none;
    cursor: pointer;
    position: relative;
    box-sizing: content-box;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    padding: 20px;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
}

.abt-step-icon {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    flex-shrink: 0;
    position: relative;
    background-color: #039be5;
    color: #fff;
    margin-right: 12px;
}

.abt-step-icon-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.abt-step-label {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 50px;
    vertical-align: middle;
}

.abt-step-summary {
    margin-top: -2px;
    color: rgba(0, 0, 0, .54);
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}

.abt-step-active .abt-step-summary {
    display: none;
}

.abt-step-active .abt-step-content {
    display: block;
}

.abt-step-container {
    margin-left: 32px;
    border: 0;
    position: relative;
}

.abt-step-content {
    padding: 0 24px 24px 24px;
    display: none;
}

.abt-step-content-line::before {
    content: "";
    position: absolute;
    top: -16px;
    bottom: -16px;
    left: 0;
    border-left: 1px solid rgba(0, 0, 0, .12);
}

.abt-step-content label {
    color: rgba(0, 0, 0, .54);
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0;
}

.abt-step-next-btn {
    background-color: #039be5;
    margin-top: 20px;
    padding: 4px 16px;
    border-radius: 8px;
    border: none;
    color: white;
}

.abt-variant {
    margin-bottom: 20px;
}

.abt-variant-header, .abt-param-header, .abt-variant-param, .abt-content {
    display: flex;
    flex-direction: row;
    position: relative;
}

.abt-variant-header:hover .abt-variant-deleter {
    visibility: visible;
}

.abt-variant-deleter, .abt-variant-param-deleter {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 5px;
}

.abt-variant-deleter {
    visibility: hidden;
    right: 10px;
}

.abt-variant-creator {
    color: #039be5;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
}

.abt-variant-creator:hover {
    background: rgb(224, 243, 252);
}

.abt-variant-header input {
    border: none;
    border-bottom: 1px #cfd8dc solid;
    border-radius: 0;
    line-height: 24px;
    margin-right: 20px;
    margin-bottom: 8px;
    padding: 0 0 0 16px !important;
    background: none;
    width: 150px;
}

.abt-variant-header input.abt-variant-remark {
    padding: 0 !important;
    width: 300px;
    color: #666666;
    font-style: italic;
}

.abt-variant-header input[disabled] {
    background: transparent;
    border: 0 solid;
}

.abt-variant-body, .abt-variant-creator {
    background: #f5f7f8;
    border-radius: 8px;
}

.abt-param {
    padding: 5px 10px 5px 20px;
}

.abt-variant-param {
    margin-bottom: 10px;
}

.abt-param-key {
    width: 300px;
}

.abt-param-value {
    width: 350px;
    margin-left: 10px;
}

.abt-param-creator {
    position: relative;
}

.abt-param-picker {
    position: absolute;
    width: 100%;
    background: #ffffff;
    border: 1px solid #ccc;
    border-top: 2px solid #039be5;
    top: 26px;
    padding: 5px 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.abt-param-picker > a {
    padding: 5px;
    cursor: pointer;
    width: 100%;
    display: inline-block;
}

.abt-param-picker > a:hover {
    background: #f0f0f0;
}

.abt-param-picker-text {
    color: rgba(0, 0, 0, .38);
}

.abt-param-picker-value {
    color: rgba(0, 0, 0, .87);
    margin-left: 10px;
}

.abt-variant-target-ctrl {
    font-size: 14px;
    padding: 5px 20px;
    border-top: 1px #cfd8dc solid;
}

.abt-detail {
    color: rgba(0, 0, 0, .54);
    /*width: 1080px;
    margin: 50px auto 0;*/
}

.abt-detail .panel-body {
    padding: 0;
}

.abt-detail-summary {
    line-height: 16px;
    cursor: pointer;
    padding: 20px;
}

.abt-detail-summary-chip {
    display: flex;
    flex-flow: row;
    margin-right: 20px;
    font-size: 12px;
}

.abt-detail-summary-expander {
    font-size: 32px;
    position: absolute;
    right: 20px;
    top: 12px;
}

.abt-detail-summary-expander.expand {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out;
}

.abt-detail-title {
    color: rgba(0, 0, 0, .87);
    font-size: 16px;
    margin-right: 100px;
}

.abt-detail-summary-chip .label {
    margin-left: 4px;
}

.abt-detail table {
    border: none;
    text-align: left;
}

.abt-detail-table .material-icons {
    margin-right: 8px;
}

.abt-detail-table td {
    padding: 16px 24px;
    border-top: 1px solid #cccccc;
}

.abt-detail-table td:first-child {
    border-right: 1px solid #cccccc;
    width: 170px;
}

.abt-detail-variant {
    line-height: 20px;
    height: 40px;
    cursor: help;
}

.abt-detail-table .abt-detail-variant {
    margin-top: 10px;
}

.abt-detail-variant-name, .abt-detail-param-key {
    color: rgba(0, 0, 0, .87);
}

.abt-detail-param-value {
    line-height: 40px;
    height: 40px;
    margin-top: 10px;
    overflow: hidden;
}

.abt-detail-variant-percent {
    font-size: 12px;
}

.abt-detail-param-key label, .abt-detail-param-value label {
    display: inline-block;
    width: 150px;
    margin: 0;
    word-break: break-all;
    line-height: 18px;
    font-size: 12px;
}

.abt-results {
    overflow-x: auto;
}

.abt-results table {
    white-space: nowrap;
}

.abt-results td {
    padding: 12px 24px;
    border-bottom: 1px solid #cccccc;
    line-height: 20px;
    height: 66px;
}

.abt-detail tr:hover, .abt-detail tr.tr-selected {
    background: unset;
}