<style>
    .chart {
        height: 400px;
    }
</style>
<div class="tool-box">
    <div class="navigator-box">
        <a href="/slotsTest/index">测试首页</a>&nbsp;&gt;&gt;&nbsp;<span>统计结果</span>
    </div>
</div>
<div class="panel">
    <div class="panel-head">测试信息</div>
    <div class="panel-body">
        <table>
            <thead>
            <tr>
                <th width="100">机台ID</th>
                <th>初始金币数</th>
                <th>用户初始等级</th>
                <th>是否新手</th>
                <th>是否自动升Bet</th>
                <th>是否开启干预</th>
                <th>开启Feature</th>
                <th>下注额</th>
                <th>下注档位</th>
                <th>下注人数</th>
                <th>每人下注次数</th>
                <th>总下注次数</th>
                <th>执行进度</th>
                <th width="180">启动时间</th>
                <th width="180">结束时间</th>
            </tr>
            </thead>
            <tbody>
            <tr data-id="{{$test.testId}}">
                <td>{{implode(',',$test.machineIds)}}</td>
                <td>{{if $test.initCoins}}{{$test.initCoins}}{{else}}<i>MAX</i>{{/if}}</td>
                <td>{{$test.userLevel}}</td>
                <td>{{$test.isNovice}}</td>
                <td>{{if $test.betAutoRaise}}Y{{else}}N{{/if}}</td>
                <td>{{if $test.ivOpened}}Y{{else}}N{{/if}}</td>
                <td>{{if $test.featureOpened}}Y{{else}}N{{/if}}</td>
                <td>{{number_format($test.totalBet)}}</td>
                <td>{{$test.betGrade|default:'<i>NULL</i>'}}</td>
                <td>{{number_format($test.betUsers)}}</td>
                <td>{{$test.perBetTimes}}</td>
                <td>{{number_format($test.betTimes)}}</td>
                <td>{{$test.progress}}%</td>
                <td>{{$test.startTime}}</td>
                <td>{{$test.endTime}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{{if !$test.stats}}
<div style="padding: 20px; border: 1px solid #cccccc; margin-bottom: 20px;">
    <p style="color: blue; text-align: center;">统计数据正在生成中，请稍后</p>
</div>
{{else}}
<div class="panel">
    <div class="panel-head">关键数据</div>
    <div class="panel-body">
        <table>
            <thead>
            <tr>
                <th>机台</th>
                <th>下注次数</th>
                <th>中奖次数</th>
                <th>中奖率</th>
                <th>免费次数</th>
                <th>免费中奖次数</th>
                <th>免费中奖率</th>
                <th>消耗金币</th>
                <th>返还金币</th>
                <th>返还率</th>
            </tr>
            </thead>
            <tbody>
            {{foreach key=machineId item=stats from=$test.stats}}
            <tr>
                <td>{{if $machineId}}{{$machines[$machineId]['name']|default:$machineId}}{{else}}Total{{/if}}</td>
                <td>{{number_format($stats.spinTimes)}}</td>
                <td>{{number_format($stats.hitTimes)}}</td>
                <td>{{$stats.hitRate}}%</td>
                <td>{{number_format($stats.freespinTimes)}}</td>
                <td>{{number_format($stats.freespinHitTimes)}}</td>
                <td>{{$stats.freespinHitRate}}%</td>
                <td>{{number_format($stats.coinsCost)}}</td>
                <td>{{number_format($stats.coinsReturn)}}</td>
                <td>{{$stats.rtp}}%</td>
            </tr>
            {{/foreach}}
            </tbody>
        </table>
    </div>
</div>
<div class="panel closeable">
    <div class="panel-head">中奖记录</div>
    <div class="panel-body">
        <a class="btn-link" href="/admin#/game/betLog?table=test{{$test.testId}}" target="_blank">点击查看</a>
    </div>
</div>
<div class="panel closeable">
    <div class="panel-head">
        <span>中奖Feature</span>
    </div>
    <div class="panel-body">
        <div id="feature-stats-btns" class="btn-group" style="margin-bottom: 20px;">
            {{foreach key=index item=machineId from=$test.machineIds}}
            <a class="btn {{if $index==0}}btn-primary{{/if}}" data-value="{{$machineId}}">{{$machines[$machineId]['name']|default:$machineId}}</a>
            {{/foreach}}
        </div>
        <div>
            {{foreach key=index item=machineId from=$test.machineIds}}
            {{assign var=stats value=$test['stats'][$machineId]}}
            <table id="feature-stats-{{$machineId}}" class="{{if $index>0}}hide{{/if}}">
                <thead>
                <tr>
                    <th width="200">Feature</th>
                    <th width="150">触发次数</th>
                    <th width="150">中奖次数</th>
                    <th width="150">中奖金额</th>
                    <th width="150">触发率</th>
                    <th width="150">中奖率</th>
                    <th width="150">Feature中rtp</th>
                    <th width="150">Feature总rtp</th>
                    <th width="150">rtp占比</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{foreach key=feature item=stat from=$stats.features.base}}
                <tr>
                    <td>{{$feature}}</td>
                    <td>{{$stat.trigger}}</td>
                    <td>{{$stat.hit}}</td>
                    <td>{{number_format($stat.coins)}}</td>
                    <td>{{$stat.triggerRate}}%</td>
                    <td>{{$stat.hitRate}}%</td>
                    <td>{{$stat.rtpInFeature}}%</td>
                    <td>{{$stat.rtpTotal}}%</td>
                    <td>{{$stat.rtpRate}}%</td>
                    <td></td>
                </tr>
                {{/foreach}}
                </tbody>
            </table>
            {{/foreach}}
        </div>
    </div>
</div>
<div class="panel closeable">
    <div class="panel-head">
        <span>其他Feature数据</span>
    </div>
    <div class="panel-body">
        <div id="feature-others-btns" class="btn-group" style="margin-bottom: 20px;">
            <a class="btn btn-primary" data-value="0">Total</a>
            {{foreach item=machineId from=$test.machineIds}}
            <a class="btn" data-value="{{$machineId}}">{{$machines[$machineId]['name']|default:$machineId}}</a>
            {{/foreach}}
        </div>
        <div>
            {{foreach key=machineId item=stats from=$test.stats}}
            <div id="feature-others-{{$machineId}}" class="{{if $machineId>0}}hide{{/if}}">
                {{foreach key=dataType item=stat from=$stats.features}}
                {{if $dataType != 'base'}}
                <div style="margin-bottom: 20px;">
                    <div style="margin-bottom: 10px; color: #999999;">
                        <span>{{$dataType}}</span>
                    </div>
                    <table>
                        {{foreach key=key item=values from=$stat}}
                        <tr>
                            <td width="150">{{$key}}</td>
                            {{foreach item=value from=$values}}
                            <td width="150">{{if is_numeric($value)}}{{number_format($value)}}{{else}}{{$value}}{{/if}}</td>
                            {{/foreach}}
                            <td></td>
                        </tr>
                        {{/foreach}}
                    </table>
                </div>
                {{/if}}
                {{/foreach}}
            </div>
            {{/foreach}}
        </div>
    </div>
</div>
{{/if}}
<div class="panel closeable closed">
    <div class="panel-head">资产波动曲线</div>
    <div class="panel-body">
        <select id="tester-uid">
            <option value="" hidden class="hide">选择测试用户</option>
            {{foreach item=uid from=$test.testers}}
            <option value="{{$uid}}">{{$uid}}</option>
            {{/foreach}}
        </select>
        <div id="balanceWave"></div>
    </div>
</div>
<div class="panel closeable closed">
    <div class="panel-head">资产余额分布</div>
    <div class="panel-body" style="position: relative;">
        <div id="balance-dis-btns" class="btn-group" style="margin-bottom: 20px;">
            <a class="btn" data-type="1">新手结束时资产分布</a>
            <a class="btn" data-type="2">整个Spin结束时资产分布</a>
            <a class="btn" data-type="3">新手期最大盈利倍数分布</a>
        </div>
        <div id="balanceDis"></div>
    </div>
</div>
<div class="panel closeable closed">
    <div class="panel-head">局数分布</div>
    <div class="panel-body" style="position: relative;">
        <div id="spin-times-dis-btns" class="btn-group" style="margin-bottom: 20px;">
            <a class="btn" data-type="1">破产次数分布</a>
            <a class="btn" data-type="2">新手期资产达到顶峰局数分布</a>
        </div>
        <div id="spinTimesDis"></div>
    </div>
</div>
<div class="panel closeable closed">
    <div class="panel-head">中奖倍数分布</div>
    <div class="panel-body" style="position: relative;">
        <div id="win-multiple-btns" class="btn-group" style="margin-bottom: 20px;">
            <a class="btn" data-type="1">中奖倍数分布1</a>
            <a class="btn" data-type="2">中奖倍数分布2</a>
        </div>
        <a id="winMultipleBack" class="btn btn-middle hide" style="position: absolute; top: 10px; right: 20px; z-index: 1;">返回上层</a>
        <div id="winMultiple"></div>
    </div>
</div>
<div class="panel closeable closed">
    <div class="panel-head">中奖弹窗分布</div>
    <div class="panel-body" style="position: relative;">
        <a id="winPopupsShow" class="btn-link">点击查看</a>
        <div id="winPopups"></div>
    </div>
</div>
<script type="text/javascript">
    (function () {
        // 显示资产波动曲线
        var testId = '{{$test.testId}}';
        function showBalanceWave(uid) {
            var params = {testId: testId, uid: uid};
            ajaxRequest('/slotsTest/getBalances', params, function (data) {
                var options = {};
                options['legend'] = {enabled: false};
                options['credits'] = {enabled: false};
                options['plotOptions'] = {series: {animation: false}};
                options['tooltip'] = {headerFormat: '下注次序: {point.x}<br>', pointFormat: '资产余额: {point.y}'};
                options['yAxis'] = {title: {text: "资产余额"}};
                options['series'] = [{
                    type: "line",
                    data: data
                }];
                showChart($('#balanceWave'), options);
            });
        }
        // 显示Spin结束后资产分布
        function showBalanceDis(type) {
            var params = {testId: testId, type: type};
            ajaxRequest('/slotsTest/getBalanceDis', params, function (data) {
                var options = {};
                var xTitle = type === 3 ? '盈利倍数' : '资产余额';
                options['legend'] = {enabled: false};
                options['credits'] = {enabled: false};
                options['plotOptions'] = {series: {animation: false}};
                options['tooltip'] = {headerFormat: xTitle + ': {point.x}<br>', pointFormat: '占比: {point.y}%'};
                options['xAxis'] = {title: {text: xTitle}, categories: data['keys']};
                options['yAxis'] = {title: {text: "占比"}, labels: {format: '{value}%'}};
                options['series'] = [{
                    type: "column",
                    data: data['values']
                }];
                showChart($('#balanceDis'), options);
            });
        }
        // 显示破产次数分布、新手期达到资产峰值时的spin局数分布
        function showSpinTimesDis(type) {
            var params = {testId: testId, type: type};
            ajaxRequest('/slotsTest/getSpinTimesDis', params, function (data) {
                var options = {};
                options['legend'] = {enabled: false};
                options['credits'] = {enabled: false};
                options['plotOptions'] = {series: {animation: false}};
                options['tooltip'] = {headerFormat: '局数: {point.x}<br>', pointFormat: '占比: {point.y}%'};
                options['xAxis'] = {title: {text: "局数"}, categories: data['keys']};
                options['yAxis'] = {title: {text: "占比"}, labels: {format: '{value}%'}};
                options['series'] = [{
                    type: "column",
                    data: data['values']
                }];
                showChart($('#spinTimesDis'), options);
            });
        }
        // 显示中奖倍数分布
        function showWinMultiple(type, rect) {
            rect = rect || '';
            var params = {testId: testId, type: type, rect: rect};
            ajaxRequest('/slotsTest/getWinMultiple', params, function (data) {
                var options = {};
                if (!rect) {
                    if (type === 1) {
                        options['plotOptions'] = {};
                        options['plotOptions']['column'] = {
                            cursor: 'pointer', events: {
                                click: function (e) {
                                    showWinMultiple(type, e.point.category)
                                }
                            }
                        };
                    }
                    $("#winMultipleBack").hide();
                } else {
                    $("#winMultipleBack").show();
                }
                options['tooltip'] = {headerFormat: '中奖倍数: {point.x}<br>', pointFormat: '中奖次数: {point.y}'};
                options['xAxis'] = {categories: data['keys']};
                options['yAxis'] = {title: {text: null}};
                options['series'] = [{
                    type: "column",
                    data: data['values']
                }];
                showChart($('#winMultiple'), options);
            });
        }
        // 显示中奖弹框分布
        function showWinPopups() {
            var params = {testId: testId};
            ajaxRequest('/slotsTest/getWinPopups', params, function (data) {
                var options = {};
                options.chart = {type: 'column'};
                options.legend = {enabled: true};
                options.tooltip = {shared: true, pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>'};
                options.plotOptions = {column: {stacking: 'normal', dataLabels: {enabled: true}}};
                options.xAxis = {categories: ['all', 'normal', 'feature']};
                options.yAxis = {stackLabels: {enabled: true}};
                options.series = getPopupSeriesData(data);
                showChart($('#winPopups'), options);
            });
        }
        function getPopupSeriesData(data) {
            var series = [];
            var rects = Object.keys(data['all']);
            var types = ['all', 'normal', 'feature'];
            for (var i = 0; i < rects.length ; i++) {
                var seriesData = [];
                var rect = rects[i];
                for (var j = 0; j < types.length; j++) {
                    if (data[types[j]][rect]) {
                        seriesData.push(data[types[j]][rect]);
                    } else {
                        seriesData.push(0);
                    }
                }
                series.unshift({
                    name: rect,
                    data: seriesData
                });
            }
            return series;
        }
        $("#feature-stats-btns>a").click(function () {
            $(this).addClass('btn-primary').siblings().removeClass('btn-primary');
            $('#feature-stats-' + $(this).data('value')).show().siblings().hide();
        });
        $("#feature-others-btns>a").click(function () {
            $(this).addClass('btn-primary').siblings().removeClass('btn-primary');
            $('#feature-others-' + $(this).data('value')).show().siblings().hide();
        });
        $("#tester-uid").change(function () {
            showBalanceWave($(this).val());
        });
        $("#balance-dis-btns>a").click(function () {
            $(this).addClass('btn-primary').siblings().removeClass('btn-primary');
            showBalanceDis($(this).data('type'));
        });
        $("#spin-times-dis-btns>a").click(function () {
            $(this).addClass('btn-primary').siblings().removeClass('btn-primary');
            showSpinTimesDis($(this).data('type'));
        });
        $("#win-multiple-btns>a").click(function () {
            $(this).addClass('btn-primary').siblings().removeClass('btn-primary');
            showWinMultiple($(this).data('type'));
        });
        $("#winMultipleBack").click(function () {
            showWinMultiple(1);
        });
        $("#winPopupsShow").click(function () {
            $(this).remove();
            showWinPopups();
        });
    })();
</script>