<form id="slots-test-form" action="/slotsTest/{{if !$test || $REQUEST.copy}}create{{else}}update{{/if}}" method="post">
    <input name="testId" type="hidden" value="{{$test.testId}}">
    <div class="form-control">
        <label style="width: 130px;">用户等级</label>
        <input name="userLevel" type="number" value="{{$test.userLevel|default:1}}" required>
    </div>
    <div class="form-control">
        <label style="width: 130px;">下注额</label>
        <select name="totalBet" data-value="{{$test.totalBet}}" required>
            <option value="">无</option>
        </select>
    </div>
    <div class="form-control">
        <label style="width: 130px;">下注档位</label>
        <input name="betGrade" type="number" value="{{$test.betGrade|default:0}}">
    </div>
    <div class="form-control">
        <label style="width: 130px;">下注人数</label>
        <input name="betUsers" type="number" value="{{$test.betUsers|default:10}}" required>
    </div>
    <div class="form-control">
        <label style="width: 130px;">每人下注次数<br>(支持多机台)</label>
        <textarea name="perBetTimes" style="height: 52px">{{$test.perBetTimes|default:'{"game":[1],"times":[1000]}'}}</textarea>
    </div>
    <div class="form-control">
        <label style="width: 130px;">初始金币数</label>
        <input name="initCoins" type="number" value="{{$test.initCoins}}" placeholder="默认最大">
    </div>
    <div class="form-control">
        <label style="width: 130px;">是否是新手</label>
        <div class="radio" data-value="{{$test.isNovice}}">
            <input type="radio" name="isNovice" value="A" checked><label>自动(A)</label>
            <input type="radio" name="isNovice" value="Y"><label>是</label>
            <input type="radio" name="isNovice" value="N"><label>否</label>
        </div>
    </div>
    <div class="form-control">
        <label style="width: 130px;">是否自动升Bet</label>
        <div class="radio" data-value="{{$test.betAutoRaise|default:'0'}}">
            <input type="radio" name="betAutoRaise" value="1"><label>是</label>
            <input type="radio" name="betAutoRaise" value="0"><label>否</label>
        </div>
    </div>
    <div class="form-control">
        <label style="width: 130px;">是否开启干预</label>
        <div class="radio" data-value="{{$test.ivOpened|default:'0'}}">
            <input type="radio" name="ivOpened" value="1"><label>开启</label>
            <input type="radio" name="ivOpened" value="0"><label>不开启</label>
        </div>
    </div>
    <div class="form-control">
        <label style="width: 130px;">是否开启Feature</label>
        <div class="radio" data-value="{{$test.featureOpened}}">
            <input type="radio" name="featureOpened" value="1" checked><label>开启</label>
            <input type="radio" name="featureOpened" value="0"><label>不开启</label>
        </div>
    </div>
    <div class="form-control">
        <label style="width: 130px;">是否立即运行</label>
        <div class="radio" data-value="1">
            <input type="radio" name="run" value="1"><label>是</label>
            <input type="radio" name="run" value="0"><label>否</label>
        </div>
    </div>
</form>
<script type="text/javascript">
    (function () {
        var $form = $('#slots-test-form');

        function onLevelChange(totalBet) {
            var userLevel = $form.find('input[name=userLevel]').val() || 1;
            ajaxRequest('/slotsTest/getMachineInfo', {machineId: 1, userLevel: userLevel}, function (data) {
                initBetOptions(Object.values(data['betOptions']), totalBet);
            });
        }

        function initBetOptions(totalBets, totalBet) {
            var options = '';
            for (var i = 0; i < totalBets.length; i++) {
                options += '<option value="' + totalBets[i] + '">' + totalBets[i] + '</option>';
            }
            $form.find('select[name=totalBet]').html(options).val(totalBet || totalBets[0]);
        }

        $form.find('input[name=userLevel]').change(function () {
            var userLevel = parseInt($(this).val() || '0');
            if (!userLevel) $(this).val(1);
            onLevelChange();
        });

        var totalBet = '{{$test.totalBet}}';
        onLevelChange(totalBet);
    })();
</script>