<div class="tool-box">
    <a class="btn btn-primary btn-middle" data-toggle="dialog" data-title="新建测试" data-target="/slotsTest/edit">新 建</a>
    <a class="btn btn-primary btn-middle btn-multi_del">批量删除</a>
</div>
<table data-delete-url="/slotsTest/delete">
    <thead>
    <tr>
        <th width="80"><a class="btn btn-link btn-select-all">全选</a>/<a class="btn btn-link btn-select-others">反选</a></th>
        <th width="80">操作</th>
        <th width="80">机台ID</th>
        <th>初始<br>金币数</th>
        <th>初始<br>用户等级</th>
        <th>是否<br>新手</th>
        <th>是否<br>自动升Bet</th>
        <th>是否<br>开启干预</th>
        <th>是否<br>开启Feature</th>
        <th>初始<br>下注额</th>
        <th>下注<br>档位</th>
        <th>每人<br>下注次数</th>
        <th>总<br>下注人数</th>
        <th>总<br>下注次数</th>
        <th width="100">执行进度</th>
        <th width="150">启动时间</th>
        <th width="150">结束时间</th>
        <th width="80">状态</th>
    </tr>
    </thead>
    <tbody>
    {{foreach item=row from=$data.list}}
    <tr class="test-inst" data-id="{{$row.testId}}" data-status="{{$row.status}}">
        <td><input type="checkbox" class="test-checkbox" value="{{$row.testId}}"></td>
        <td>
            <div class="dropdown">
                <span class="material-icons">more_horiz</span>
                <ul class="dropdown-menu">
                    <li><a class="btn btn-link" data-toggle="dialog" data-title="新建测试" data-target="/slotsTest/edit?testId={{$row.testId}}&copy=1">复 制</a></li>
                    {{if $row.status != 1}}
                    <li><a class="btn btn-link btn-delete">删 除</a></li>
                    {{/if}}
                    {{if $row.status == 0}}
                    <li><a class="btn btn-link" data-toggle="dialog" data-title="编辑测试" data-target="/slotsTest/edit?testId={{$row.testId}}">编 辑</a></li>
                    {{/if}}
                    {{if $row.status == 0}}
                    <li><a class="btn btn-link btn-status" data-to-status="1">启 动</a></li>
                    {{/if}}
                    {{if $row.status == 1}}
                    <li><a class="btn btn-link btn-status" data-to-status="2">终 止</a></li>
                    {{/if}}
                    {{if $row.status == 2}}
                    <li><a class="btn btn-link" href="/slotsTest/analysis?testId={{$row.testId}}">统 计</a></li>
                    {{/if}}
                </ul>
            </div>
        </td>
        <td>{{$row.machineIds}}</td>
        <td>{{if $row.initCoins}}{{$row.initCoins}}{{else}}<i>MAX</i>{{/if}}</td>
        <td>{{$row.userLevel}}</td>
        <td>{{$row.isNovice}}</td>
        <td>{{if $row.betAutoRaise}}Y{{else}}N{{/if}}</td>
        <td>{{if $row.ivOpened}}Y{{else}}N{{/if}}</td>
        <td>{{if $row.featureOpened}}Y{{else}}N{{/if}}</td>
        <td>{{number_format($row.totalBet)}}</td>
        <td>{{$row.betGrade|default:'<i>NULL</i>'}}</td>
        <td>{{$row.perBetTimes}}</td>
        <td>{{number_format($row.betUsers)}}</td>
        <td>{{number_format($row.betTimes)}}</td>
        <td>
            <div class="progress">
                <div class="progress-bar" style="width: {{$row.progress}}%;"></div>
                <div class="progress-value">{{$row.progress}}%</div>
            </div>
        </td>
        <td>{{$row.startTime|default:'-'}}</td>
        <td>{{$row.endTime|default:'-'}}</td>
        <td>
            {{if $row.status == 1}}
            <font color="blue">执行中</font>
            {{elseif $row.status == 2}}
            <font color="green">已结束</font>
            {{if $row.error}}
            <img src="{{$IMG_URL}}/icons/warning.png" width="20" title="{{str_replace('"','',$row.error)}}">
            {{/if}}
            {{elseif $row.status == 3}}
            <font color="#87ceeb">等待中</font>
            {{else}}
            <font>未启动</font>
            {{/if}}
        </td>
    </tr>
    {{/foreach}}
    </tbody>
</table>
{{$data.pager->display()}}
<script>
    (function () {
        $('.btn-status').click(function () {
            var $btn = $(this);
            var testId = $btn.parents('tr').attr('data-id');
            var status = parseInt($btn.attr('data-to-status'));
            var text = '确定' + (status === 1 ? '启动' : '终止') + '该项测试吗？';
            showConfirm(text, function () {
                ajaxRequest('/slotsTest/setStatus', {testId: testId, status: status});
            });
        });
        $('.test-inst').each(function () {
            if ($(this).attr('data-status') === '1') {
                refreshProgress($(this).attr('data-id'));
            }
        });
        $('.btn-select-all').click(function () {
            $('.test-checkbox').prop('checked', true);
        });
        $('.btn-select-others').click(function () {
            $('.test-checkbox').each(function () {
                $(this).prop('checked', !$(this).prop('checked'));
            });
        });
        $('.btn-multi_del').click(function () {
            var ids = [];
            $('.test-checkbox').each(function () {
                if ($(this).prop('checked')) {
                    ids.push($(this).val());
                }
            });
            if (!ids.length) {
                alertError('没有选中任何项');
                return;
            }
            showConfirm('确认要删除选中的测试实例吗？', function () {
                ajaxRequest('/slotsTest/deleteMulti', {ids: ids});
            });
        });
        function refreshProgress(testId) {
            _setTimeout(function () {
                ajaxRequest('/slotsTest/getProgress', {testId: testId}, function (data) {
                    var $row = $('.test-inst[data-id=' + testId + ']');
                    $row.find('.bettedTimes').html(data.bettedTimes);
                    $row.find('.progress-bar').css({width: data.progress + '%'});
                    $row.find('.progress-value').html(data.progress + '%');
                    if (data.progress < 100 && data.status === 1) {
                        refreshProgress(testId);
                    } else {
                        redirect(CURRENT_URI);
                    }
                });
            }, 3000);
        }
    })();
</script>