<div class="tool-box">
    <div class="navigator-box">
        <a href="/slotsTest/index">测试首页</a>&nbsp;&gt;&gt;&nbsp;<a href="/slotsTest/analysis?testId={{$REQUEST.testId}}">统计结果</a>
    </div>
    <div class="search-box">
        <form>
            <label>是否免费</label>
            <select name="isFreeSpin" data-value="{{$REQUEST.isFreeSpin}}">
                <option value="">ALL</option>
                <option value="0">N</option>
                <option value="1">Y</option>
            </select>
            <label>所处Feature</label>
            <select name="inFeature" data-value="{{$REQUEST.inFeature}}">
                <option value="">ALL</option>
                {{foreach item=feature from=$featureGames}}
                <option value="{{$feature.featureId}}">{{$feature.featureId}}</option>
                {{/foreach}}
            </select>
            <label>触发Feature</label>
            <select name="triggerFeature" data-value="{{$REQUEST.triggerFeature}}">
                <option value="">ALL</option>
                {{foreach item=feature from=$featureGames}}
                <option value="{{$feature.featureId}}">{{$feature.featureId}}</option>
                {{/foreach}}
            </select>
            <a class="btn btn-primary" type="submit">搜 索</a>
        </form>
    </div>
</div>
<div class="panel">
    <div class="panel-head">中奖记录</div>
    <div class="panel-body">
        <table>
            <thead>
            <tr>
                <th>用户ID</th>
                <th>机台</th>
                <th>中奖结果</th>
                <th>干预类型</th>
                <th>下注次序</th>
                <th>下注额</th>
                <th>下注比</th>
                <th>消耗金币</th>
                <th>赢取金币</th>
                <th>赢取倍率</th>
                <th>总赢取金币</th>
                <th>剩余金币</th>
                <th>是否<br>FreeSpin</th>
                <th>第几次<br>FreeSpin</th>
                <th>当前<br>Feature</th>
                <th>中奖<br>Feature</th>
                <th>是否结算</th>
                <th>下注时间</th>
            </tr>
            </thead>
            {{foreach item=log from=$list}}
            <tr>
                <td>{{$log.uid}}</td>
                <td>{{$machine.name}}</td>
                <td><a class="btn-link btn-detail" data-id={{$log.id}}>查看</a></td>
                <td>{{$log.interveneType|default:'-'}}</td>
                <td>{{$log.betSeq}}</td>
                <td>{{if $log.totalBet < 100000}}{{$log.totalBet}}{{elseif $log.totalBet < 1000000}}{{$log.totalBet/1000}}K{{elseif $log.totalBet < 1000000000}}{{$log.totalBet/1000000}}M{{else}}{{$log.totalBet/1000000000}}B{{/if}}</td>
                <td>{{$log.betRatio}}</td>
                <td>{{if $log.cost < 100000}}{{$log.cost}}{{elseif $log.cost < 1000000}}{{$log.cost/1000}}K{{elseif $log.cost < 1000000000}}{{$log.cost/1000000}}M{{else}}{{$log.cost/1000000000}}B{{/if}}</td>
                <td title="{{number_format($log.coinsAward)}}">{{if $log.coinsAward < 100000}}{{$log.coinsAward}}{{elseif $log.coinsAward < 1000000}}{{$log.coinsAward/1000}}K{{elseif $log.coinsAward < 1000000000}}{{round($log.coinsAward/1000000,2)}}M{{else}}{{round($log.coinsAward/1000000000,2)}}B{{/if}}</td>
                <td>{{if $log.cost == 0}}0{{else}}{{round($log.coinsAward/$log.cost, 2)}}{{/if}}</td>
                <td title="{{number_format($log.totalWin)}}">{{if $log.totalWin < 100000}}{{$log.totalWin}}{{elseif $log.totalWin < 1000000}}{{$log.totalWin/1000}}K{{elseif $log.totalWin < 1000000000}}{{round($log.totalWin/1000000,2)}}M{{else}}{{round($log.totalWin/1000000000,2)}}B{{/if}}</td>
                <td>{{$log.balance}}</td>
                <td>{{if $log.isFreeSpin}}Y{{else}}N{{/if}}</td>
                <td>{{if $log.isFreeSpin}}{{$log.spinTimes}}{{else}}0{{/if}}</td>
                <td>{{if $log.feature}}{{$featureGames[$log.feature]['featureName']}}{{else}}-{{/if}}</td>
                <td>{{if $log.features}}{{foreach item=featureId from=$log.features}}&nbsp;{{$featureGames[$featureId]['featureName']}}&nbsp;{{/foreach}}{{else}}-{{/if}}</td>
                <td>{{if $log.settled}}Y{{else}}N{{/if}}</td>
                <td>{{$log.time}}</td>
            </tr>
            {{/foreach}}
        </table>
        {{$pager->display()}}
    </div>
</div>
<script>
    (function (){
        $('.btn-detail').click(function (){
            var id = $(this).attr('data-id');
            showBetDetail(id);
        });
        function showBetDetail(id, action = '') {
            $dialog = showDialog('中奖记录', '', {
                url: '/game/betResult?id=' + id + '&table={{$REQUEST.testId}}&action=' + action
            });
            $dialog.on('click', '.prev, .next', function (){
                var id = $(this).attr('data-id');
                var action = $(this).attr('data-action');
                removeDialog($dialog);
                showBetDetail(id, action);
            });
        }
    })();
</script>