<div class="tool-box">
    <a class="btn btn-primary btn-middle" data-toggle="dialog" data-target="/account/edit">创建账号</a>
    <form class="search-box">
        <input name="realname" size="10" value="{{$REQUEST.realname}}" placeholder="姓名"/>
        <a class="btn btn-primary" type="submit">搜 索</a>
        <a class="btn btn-clear">清 空</a>
    </form>
</div>
<table data-editable="true" data-delete-url="/account/delete?model=admin">
    <thead>
    <tr align="center">
        <th width="100">账号</th>
        <th width="100">姓名</th>
        <th width="100">部门</th>
        <th width="150">岗位</th>
        <th width="120">号码</th>
        <th width="200">邮箱</th>
        <th width="100">创建者</th>
        <th width="180">创建时间</th>
        <th width="180">登录时间</th>
        <th width="150">登录IP</th>
        <th width="100">状态</th>
        <th width="200">操作</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{foreach item=admin from=$list}}
    <tr data-id="{{$admin.id}}" data-name="{{$admin.realname}}">
        <td>{{$admin.account}}</td>
        <td>{{$admin.realname}}</td>
        <td>{{$admin.department|default:'-'}}</td>
        <td>{{$admin.post|default:'-'}}</td>
        <td>{{$admin.mobile|default:'-'}}</td>
        <td>{{$admin.email|default:'-'}}</td>
        <td>{{$creators[$admin.createBy].realname|default:'-'}}</td>
        <td>{{$admin.createTime}}</td>
        <td>{{$admin.lastLoginTime|default:'-'}}</td>
        <td>{{$admin.lastLoginIp|default:'-'}}</td>
        <td>{{if $admin.status == 1}}正常{{else}}<font color="red">禁用</font>{{/if}}</td>
        <td>
            <div class="btn-group">
                <a class="btn btn-status" data-status="{{$admin.status}}">{{if $admin.status == 1}}禁 用{{else}}启
                    用{{/if}}</a>
                <a class="btn btn-delete">删 除</a>
            </div>
        </td>
    </tr>
    {{/foreach}}
    </tbody>
</table>
{{$pager->display()}}
<script>
    (function () {
        $('.btn-status').click(function () {
            var $btn = $(this);
            var id = $btn.parents('tr').attr('data-id');
            var status = $btn.attr('data-status') === '1' ? 0 : 1;
            var text = '确定' + (status === 1 ? '启用' : '禁用') + '该账号吗？';
            showConfirm(text, function () {
                var params = {id: id, status: status};
                ajaxRequest('/account/setStatus', params, function () {
                    $btn.text(status === 1 ? '禁 用' : '启 用');
                    $btn.attr('data-status', status);
                    $btn.parents('td').prev().html(status === 1 ? '正常' : '<font color="red">禁用</font>');
                    alertSuccess(status === 1 ? '已启用' : '已禁用');
                });
            });
        });
    })();
</script>