<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员登录</title>
    <link rel="stylesheet" href="{{$CSS_URL}}/common.css?v={{$VER}}">
    <link rel="stylesheet" href="{{$CSS_URL}}/admin.css?v={{$VER}}">
    <script type="text/javascript" src="{{$JS_URL}}/jquery.1.7.2.min.js"></script>
    <script type="text/javascript">
        var JS_URL = '{{$JS_URL}}';
        var CSS_URL = '{{$CSS_URL}}';
        var IMG_URL = '{{$IMG_URL}}';
        var BASE_URL = '{{$BASE_URL}}';
        var CURRENT_URI = '';
        var BI_TOKEN = '';
    </script>
</head>
<body class="login-body">
<div class="login-box">
    <form action="/account/doLogin">
        <div class="form-control">
            <label>账号:</label><input name="account" maxlength="16"/>
        </div>
        <div class="form-control" style="margin-top: 40px;">
            <label>密码:</label><input name="password" type="password" maxlength="10"/>
        </div>
        <div style="margin-top: 50px; padding: 0 10px;">
            <a class="btn btn-primary btn-login" onclick="ajaxSubmit()">登&nbsp;&nbsp;&nbsp;&nbsp;录</a>
        </div>
    </form>
</div>
<script type="text/javascript" src="{{$JS_URL}}/common.js?v={{$VER}}"></script>
</body>
</html>