<div class="panel">
    <div class="panel-head">修改信息</div>
    <div class="panel-body">
        <form action="/account/updateInfo" method="post">
            <div class="form-control">
                <label>姓名：</label>
                <input name="realname" value="{{$admin.realname}}" minlength="2" maxlength="5">
            </div>
            <div class="form-control">
                <label>号码：</label>
                <input name="mobile" data-type="mobile" value="{{$admin.mobile}}">
            </div>
            <div class="form-control">
                <label>邮箱：</label>
                <input name="email" data-type="email" value="{{$admin.email}}">
            </div>
        </form>
    </div>
    <div class="panel-footer">
        <a class="btn btn-primary" onclick="ajaxSubmit()">保 存</a>
        <a class="btn btn-cancel" href="/account/info">取 消</a>
    </div>
</div>