<div class="panel">
    <div class="panel-head">修改密码</div>
    <div class="panel-body">
        <form action="/account/updatePassword" method="post">
            <div class="form-control">
                <label>旧密码：</label>
                <input name="old_password" type="password" minlength="6" maxlength="10">
            </div>
            <div class="form-control">
                <label>新密码：</label>
                <input name="new_password" type="password" minlength="6" maxlength="10">
            </div>
        </form>
    </div>
    <div class="panel-footer">
        <a class="btn btn-primary" onclick="ajaxSubmit()">保 存</a>
        <a class="btn btn-cancel" href="/account/info">取 消</a>
    </div>
</div>