<form action="/user/updateInfo" method="post">
    <div class="form-control">
        <label style="width: 100px">用户ID</label><input name="uid" required>
    </div>
    <div class="form-control">
        <label style="width: 100px">+ 金币</label><input name="coins" placeholder="可为负数">
    </div>
    <div class="form-control">
        <label style="width: 100px">注册时间</label><input class="datetime" name="regtime">
    </div>
    <div class="form-control">
        <label style="width: 100px">登录时间</label><input class="datetime" name="loginTime">
    </div>
</form>