<div class="tool-box">
    <a class="btn btn-middle btn-primary" data-toggle="dialog" data-target="/user/edit">金手指</a>
    <div class="search-box">
        <form>
            <input name="uid" maxlength="10" size="10" value="{{$REQUEST.uid}}" placeholder="UID">
            <a class="btn btn-primary" type="submit">搜 索</a>
            <a class="btn btn-clear">清 空</a>
        </form>
    </div>
</div>
{{if $userInfo}}
<table>
    <thead>
    <tr align="center">
        <th width="80">ID</th>
        <th width="80">账户类型</th>
        <th>昵称</th>
        <th>金币</th>
        <th>Spin次数</th>
        <th>国家</th>
        <th width="160">注册时间</th>
        <th width="160">最后登录时间</th>
        <th width="60">总登录</th>
        <th width="70">连续登录</th>
        <th width="70">状态</th>
        <th width="80">操作</th>
    </tr>
    </thead>
    <tr>
        <td>{{$userInfo['uid']}}</td>
        <td>{{if $userInfo['platform'] == 0}}游客{{else}}Facebook{{/if}}</td>
        <td>{{$userInfo['nickname']}}</td>
        <td>{{number_format($userInfo['coins'])}}</td>
        <td>{{number_format($userInfo['spinTimes'])}}</td>
        <td>{{$userInfo['country']}}</td>
        <td>{{$userInfo['regTime']}}</td>
        <td>{{$userInfo['lastLoginTime']}}</td>
        <td>{{$userInfo['loginDays']}}天</td>
        <td>{{$userInfo['continued']}}天</td>
        <td>{{if $userInfo['status'] == 1}}
            <font color="green">正常</font>
            {{elseif $userInfo['status'] == 2}}
            <font color="red">作废</font>
            {{else}}
            <font color="red">封号</font>
            {{/if}}
        </td>
        <td>
            <div class="dropdown">
                <span class="material-icons">more_horiz</span>
                <ul class="dropdown-menu">
                    {{if $userInfo['status'] == 1}}
                    <li style="background: coral;">
                        <a class="btn btn-link ajax confirm" href="/user/setStatus?uid={{$userInfo.uid}}&status=0">封 号</a>
                    </li>
                    {{elseif $userInfo['status'] == 0}}
                    <li style="background: green;">
                        <a class="btn btn-link ajax confirm" href="/user/setStatus?uid={{$userInfo.uid}}&status=1">解 封</a>
                    </li>
                    {{/if}}
                    {{if $userInfo['bindGuest']}}
                    <li style="background: cornflowerblue;">
                        <a class="btn btn-link ajax confirm" href="/user/unbind?uid={{$userInfo.uid}}" style="width: 100%;">解 绑</a>
                    </li>
                    {{/if}}
                    {{if $userInfo['status'] != 2}}
                    <li>
                        <a class="btn btn-link ajax confirm" href="/user/invalid?uid={{$userInfo.uid}}">删 除</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </td>
    </tr>
</table>
{{else}}
<div style="height: 1px; background: #cccccc;"></div>
{{/if}}